<h1>Editing timeblock</h1>

<%= render "form", timeblock: @timeblock %>

<br>

<div>
  <%= link_to "Show this timeblock", @timeblock %> |
  <%= link_to "Back to timeblocks", timeblocks_path %>
</div>
