<head>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(24, 1fr);
      position: relative; /* Wichtig für die Überlagerung */
      margin: 0 100px;
    }

    .weekdays-navbar-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin: 0 100px;
      border-bottom: 1px solid #ccc
    }
    .timeblock-grid-container {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 100%; /* 100% Breite minus 2x 100px padding */
      padding: 0 100px; /* 100px Padding auf beiden Seiten */
      box-sizing: border-box; /* Inklusive Padding in der Breitenberechnung */
      position: absolute;
      margin-top: 86px;
      top: 0;
      left: 0;
      z-index: 10;
    }

    .grid-item {
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 29.5px;
      text-align: center;
    }
  </style>
</head>

<div id="timeblocks">
  <%= link_to "New timeblock", new_timeblock_path %>

  <div class="weekdays-navbar-container">
    <p>Mon</p>
    <p>Tue</p>
    <p>Wed</p>
    <p>Thu</p>
    <p>Fri</p>
    <p>Sat</p>
    <p>Sun</p>
  </div>

  <div class="grid-container">
    <% (0..6).each do |day| %>
      <% (0..23).each do |hour| %>
        <div class="grid-item"></div>
      <% end %>
    <% end %>
  </div>

  <div class="timeblock-grid-container">
    <% (0..6).each do |day| %>
      <div>
        <% @timeblocks.each do |timeblock| %>
          <% if timeblock.user == current_user %>
            <% if timeblock.repeatOnDay == day || timeblock.dailyRepeat == true %>
              <div >                  
                <%= render timeblock %>
              </div>
            <% else %>
              <%= "" %>
            <% end %>
          <% end %>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
