<div id="<%= dom_id journey %>">
  <p>
    <strong>Title:</strong>
    <%= journey.title %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= journey.reason %>
  </p>

  <p>
    <strong>Timeblocks:</strong>
    <%= journey.timeblocks %>
  </p>

</div>
