<!-- app/views/journeys/_journey.html.erb -->
<% if journey.timeblocks.any? && current_user == journey.user%>
<p>
  <strong>Title:</strong>
  <%= journey.title %>
</p>
<p>
  <strong>Reason:</strong>
  <%= journey.reason %>
</p>
  <ul>
    <% journey.timeblocks.each do |timeblock| %>
      <li><%= timeblock.task_name %> </li>
      
    <% end %>
    <p>
      <%= link_to "Show this journey", journey %>
    </p>
  </ul>
<% end %>
