<p style="color: green"><%= notice %></p>

<h1>Journeys</h1>

<div id="journeys">
  <% @journeys.each do |journey| %>
    <%= render partial: "journey", locals: { journey: journey } %>
    
  <% end %>
  
</div>

<%= link_to "New journey", new_journey_path %>
